*{
}
body{
    background: #00ff0a;
    display: flex;
    justify-content: none;
    align-items: none;
    font-family: 'Sixtyfour', cursive;
    font-size: 16px;
    text-indent: inherit;
    color: aqua

}
.title from div {
    font-size: 40px;
    color: aqua
}
